.newPost {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1.5rem;
    text-align: center;
    width: 30rem;
    height: 70vh;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    .newPost_form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .newPost_inputBox {
            margin: 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            padding: 10px;

            .newPost_inputFile {
                width: 154px;
                margin-left: 15px;
            }

            .newPost_inputText {
                margin-left: 15px;
            }
        }
    }

    .newPost_btnBox {
        margin-top: 100px;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            width: 80px;
            height: 30px;
        }
    }
}